* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h1 {
    font-family: 'Fuggles', sans-serif, cursive;
    font-weight: 700;
}

h2{
    font-weight: 600;
}

h2 span{
    font-size: large;
}
h3{
    color: rgb(238, 227, 227);
    font-size: larger;
}
h4{
    color: rgb(238, 227, 227);
    font-size: medium;
}

p{
    color: rgb(238, 227, 227);

}