@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $colorPagina;
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    header {
        margin-top: 30px;
        border-radius: 30px;
        max-width: 68%;
        margin-left: 1%;

        .navbar {

            border-radius: 15px;
        }
    }


    h1 {
        font-family: 'Fuggles', sans-serif, cursive;
        font-weight: 700;
    }


    h2 {
        color: $colorResaltado;
        font-weight: 600;
    }

    h3 {
        color: $colorResaltado;
        font-size: larger;
    }

    h4 {

        color: $colorTextos;
        font-size: medium;
    }

    span {
        color: gray;
        font-size: large;
    }

    p {

        color: $colorTextos;
    }

    .videoBackground {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .nav-link {
        font-weight: 700;
        color: black;
        border-radius: 30px;
    }

    .boxProyecto {
        max-width: 300px;
        .imgProyecto{
            width: 10vw;
        }
    }
}