@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $colorPagina;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    header {
        position: fixed;
        width: 68%;
        background: rgb(214,159,39);
        border: black 3px solid;
        background: linear-gradient(90deg, rgba(214,159,39,1) 36%, rgba(68,63,63,1) 69%);
        left: -20px;
        border-bottom-right-radius: 15px;
        margin-bottom: 300px;
        z-index: 999;

        .navbar {
            height: auto
        }

        .nav-link:active {
            background-color: gray;
        }

        .navbar-brand {
            padding-top: 20px;
            padding-left: 20px;
            color: white;
            font-size: 25px;
            font-family: 'Cinzel', sans-serif;
            font-weight: 700;
            transition: all .5s linear;
        }
        .navbar-brand:hover{
            transform: scale(1.2);
            text-decoration:underline;
        }


    }

    .containerWorks {
        position: relative;
        margin-left: 40px;

        .scrollspy {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            color: white;
        }

        .containerProyectos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
            width: 68%;

            .proyecto {
                max-width: fit-content;

                .imgProyecto {
                    margin-top: 60px;
                    margin-inline: 30px;
                    height: auto;
                    width: 300px;
                    border-radius: 100%;
                    border: black solid 3px;
                    transition: all .3s ease-in;
                    opacity: 60%;
                }

                .imgProyecto:hover {
                    transform: scale(1.2);
                    border-radius: 2%;
                    opacity: 100%;
                    .nombreProyecto{
                        color: orange;
                    }
                }

                .nombreProyecto {
                    text-align: center;
                    padding-top: 20px;
                    color: white;
                }
            }
        }
    }


    h1 {
        font-family: 'Fuggles', sans-serif, cursive;
        font-weight: 700;
    }


    h2 {
        color: $colorResaltado;
        font-weight: 600;
    }

    h3 {
        color: $colorResaltado;
        font-size: larger;
    }

    h4 {

        color: $colorTextos;
        font-size: medium;
    }

    span {
        color: gray;
        font-size: large;
    }

    p {

        color: $colorTextos;
    }

    .videoBackground {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .nav-link {
        font-weight: 700;
        color: black;
        border-radius: 30px;
    }

    .boxProyecto {
        max-width: 300px;

        .imgProyecto {
            width: 10vw;
        }
    }

    main {
        padding-top: 120px;
    }
}